[Desktop Entry]
Version=1.0
Name=SDL Snake
Comment=SDL Snake
Exec=sdl-snake
Icon=/usr/share/sdl-snake/icon.png
Terminal=false
Type=Application
Categories=Games;
